---
import Layout from '../layouts/Layout.astro';
import Shadow_container from '../components/Shadow_Container.astro';
---

<Layout
  title="PICKEM — Predicciones Deportivas"
  description="Plataforma de predicciones deportivas. Registra tus pronósticos, consulta las reglas y sigue la clasificación."
>
  <div class="text-2xl font-bold text-center pt-8">
    <h1 class="">¡Hola Andres! 👋</h1>
  </div>
  <div class="flex flex-col gap-4">
    <Shadow_container>
      <div class="flex flex-col gap-3 p-2">
        <div class="flex items-center justify-between">
          <h2>Proximos partidos</h2>
          <p>1 día 12 horas 30 minutos</p>
        </div>

        <hr class="border-t border-bg-secondary/40" />
        <!-- #region This is gonna be changing dynamically as soon we got the data -->
        <div class="flex items-center justify-between gap-2 w-full tabular-nums">
          <span>🏳️</span>
          <span>Local</span>
          <span class="w-6 text-center">0</span>
          <span>-</span>
          <span class="w-6 text-center">0</span>
          <span>Visitante</span>
          <span>🏳️</span>
        </div>

        <div class="flex items-center justify-between gap-2 w-full tabular-nums">
          <span>🏳️</span>
          <span>Local</span>
          <span class="w-6 text-center">0</span>
          <span>-</span>
          <span class="w-6 text-center">0</span>
          <span>Visitante</span>
          <span>🏳️</span>
        </div>
        <!-- #endregion -->
      </div>
    </Shadow_container>

    <Shadow_container>
      <div class="flex flex-col gap-3 p-2">
        <h1>Tus puntos</h1>

        <span class="text-5xl font-bold leading-none tabular-nums">0 pts</span>

        <div class="flex justify-end">
          <a href="#leaderboard" class="text-xs font-semibold tracking-wider uppercase hover:underline">
            Ver tabla &gt;</a
          >
        </div>
      </div>
    </Shadow_container>
  </div>
</Layout>
