---

---

<div class="relative w-full h-full bg-arceus-accent-400 before:content-[''] before:absolute before:inset-0 before:translate-x-2 before:translate-y-2 before:bg-black before:-z-10">
  <slot />
</div>
